<h1>
  Edit flight #<%= @flight.id %>
</h1>

<hr>

<form action="/update_flight/<%= @flight.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @flight.description %>">
  </div>

  <div class="form-group">
    <label for="departs_at">
      Departs at
    </label>

    <input type="text" id="departs_at" name="departs_at" class="form-control" value="<%= @flight.departs_at %>">
  </div>


  <div class="form-check">
    <input type="hidden" value="0" name="fifteen_minute_message_sent">
    <input id="fifteen_minute_message_sent" class="form-check-input" name="fifteen_minute_message_sent" type="checkbox" value="1" <%= "checked" if @flight.fifteen_minute_message_sent %>>
    <label for="fifteen_minute_message_sent" class="form-check-label">
      Fifteen minute message sent
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update flight
  </button>
</form>

<hr>

<a href="/flights">
  Go back
</a>
